.about {
  margin-right: 30px;
  display: flex; 
  flex-flow: column;
  background-image: linear-gradient(white, #ebf6f9);
  font-size: 18px;
  border: 2px solid lightblue;
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px; 
  align-self: center;
  width: 50%;
  min-width: 500px;
  height: 500px; 
}

.about_tab_group {
  background-image: linear-gradient(white, lightblue);
  display: flex; 
  justify-content: right; 
  padding-left: 5px;
  margin-bottom: 15px; 
  border-bottom: 1px solid black; 
}

.about_tab {
  cursor: pointer;
  padding: 5px 15px;
  text-align: center;
  border-left: 1px solid black; 
  -webkit-transition: all .2s; /* Safari */
  transition: all .2s;
    &:hover {
      background-color: lightblue; 
      font-size: 22px;
    }
}

.about_tab_sel{
  background-color: black; 
  color: white; 
}

.about-discription {
  font-family: 'Dancing Script', cursive;
  overflow: auto;
  font-size: 28px;
  padding: 5px;
}

.socials {
  padding: 20px;
}

.socials-message {
  text-align: center; 
  margin-bottom: 50px;
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
}

.socials__item {
  -webkit-transition: all .2s; /* Safari */
  transition: all .2s;
    &:hover {
      background-color: lightblue; 
      font-size: 28px;
      height: 70px;
    }
}

.feedback {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}

.feedback-name{
  padding-left: 10px;
    #name {
      width: 400px;
    }
}

.feedback-subject{
  padding: 10px;
    #subject {
      height: 200px;
      width: 400px; 
    }
}