body {
  background-color: gray; 
}

.ch-msg {
  margin-top: 25px; 
  border-radius: 5px; 
  background-color: #ffffcc; 
}

.ch-img {
  height:fit-content;
  border: 3px solid black; 
  border-radius: 25px; 
}

.ch_act{
  margin: 25px; 
}

.about_body{
  margin: 15px; 
}

.list-group {
  min-width: 300px;
  margin: auto; 
  text-align: center; 
}

.ch-header {
  background-color: #101010; 
  color: #9d9d9d; 
}

.ch-header-name {
  font-size: 18px;
  margin-left: 10px; 
  line-height: 20px; 
  height: 50px; 
  padding: 15px 15px;  
}

.ch-header-name:hover{
  cursor: default;
}

.ch-nav:hover {
    color: lightblue;
    cursor: pointer; 
}