.ch-header {
  background-color: #101010; 
  color: #9d9d9d; 
}

.ch-header-name {
  font-size: large; 
  font-weight: 600; 
}

.ch-header-name:hover{
  cursor: default;
}

.ch-nav:hover {
    color: lightblue;
    cursor: pointer; 
}